#forms {
  display: flex;
  justify-content: space-around;
}

#grids {
  width: 40%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid;
}

#flex-container {
  display: flex;
  justify-content: space-evenly;
}

#flex-container div {
  font-size: 2rem;
}

.blocks {
  border: 1px solid;
  text-align: center;
  height: 200px;
  font-size: 4rem;
}